<template>
    <v-layout id="login" justify-space-between align-center row wrap>

        <v-flex sm12 md5 :class="{'pl-5': smallPhone !== true,'pt-2' :smallPhone}">
            <v-sign-in-form />
        </v-flex>
    </v-layout>
</template>

<script>
    import signInForm from '../components/Auth/signIn';

    export default {
        components: {
            'v-sign-in-form': signInForm,
        },
        beforeRouteEnter(from, to, next) {
            next()
        },
        computed: {
            smallPhone() {
                const {sm, xs} = this.$vuetify.breakpoint;
                return xs || sm;
            }
        },
        beforeRouteLeave(from, to, next) {
            next()
        },
        name      : 'Login',
    };
</script>

<style lang="scss">
    body.loginPage {
        #app {
            background: linear-gradient(rgba(70, 82, 97, 0.7), rgba(70, 82, 97, 0.8)) !important;
            main:first-child {
                .container:first-child {
                    width: 1170px;
                    height: 100%;
                    overflow-y: auto;
                    > .layout {
                        height: 100%;
                        overflow-y: auto;
                    }
                }
            }
        }
    }

    #login {
        img {
            max-width: 100%;
            max-height: 100%;
        }
        .slogan {
            font-size: 34px;
            line-height: 43px;
            display: block;
            margin-top: 34px;
            font-weight: 100;
        }
        h2 {
            width: unset !important;
            font-size: 22px;
        }
        .v-text-field {
            background-color: #424242;
        }
        .theme--dark.v-text-field--solo-inverted.v-text-field--solo.v-input--is-focused .v-input__slot {
            background-color: #424242;
            input {
                color: #ffffff;
            }
        }
        h2, p, .slogan {
            color: #424242;
        }
        p.terms, p.terms > a {
            display: inline;
            font-size: 12px;
            line-height: 15px;
            color: rgba(255, 255, 255, 0.5);
        }
        a {
            &, &:hover, &:focus {
                text-decoration: none !important;
                color: #ffffff;
            }
        }
    }
</style>
