<template>
    <v-layout class="init" align-center justify-center row wrap>
        <v-flex md4>
            <v-progress-linear indeterminate />
            <span>Yükleniyor</span>
        </v-flex>
    </v-layout>
</template>

<script>
    import config from "../config"
    export default {
        beforeRouteEnter(from, to, next) {
            next(vm => {
                document.body.classList.add('initPage');
                const has = (!!localStorage[config.TOKEN_KEY]);
                vm.$store.dispatch('Auth/FETCH_USER')
                    .then(() => {
                        if(Object.keys(from.query).length > 0 && !!from.query.redirect) {
                            vm.$router.push(from.query.redirect);
                        } else {
                            vm.$router.push({ name: 'home' })
                        }
                    })
            })
        },
        beforeRouteLeave(from, to, next) {
            document.body.classList.remove('initPage');
            next()
        },
    };
</script>

<style lang="scss">
    body.initPage {
        &, #app {
            background: linear-gradient(rgba(70, 82, 97, 0.7), rgba(70, 82, 97, 0.8)) !important;
            .container {
                height: 100%;
            }
        }
    }
    .init {
        height: 100%;
        span {
            width: 100%;
            display: inline-block;
            text-align: center;
            color: #ffffff;
            font-size: 1.2rem;
            font-weight: 100;
        }
    }
</style>
