<template>
    <v-app>
        <v-navigation-drawer clipped app v-if="isAuth">
            <v-list>
                <v-list-tile v-for="(route, i) in routes" :key="i" :to="route.to">
                    <v-list-tile-content>
                        <span><v-icon medium>{{route.icon}}</v-icon> {{ route.title }}</span>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar color="#465261" app  v-if="isAuth">

            <v-toolbar-title class="white--text">Kişi Uygulaması</v-toolbar-title>

            <v-spacer></v-spacer>

            <v-toolbar-items>
                <v-menu
                        :min-width="200"
                        offset-y
                        :fixed="true"
                        :nudge-right="-60"
                >
                    <template v-slot:activator="{ on }">
                        <v-btn
                                color="primary"
                                dark
                                v-on="on"
                        >
                            Kullanıcı
                        </v-btn>
                    </template>
                    <v-list>
                        <v-list-tile @click.prevent="logout">
                            <v-list-tile-title>Çıkış</v-list-tile-title>
                        </v-list-tile>
                    </v-list>
                </v-menu>
            </v-toolbar-items>
        </v-toolbar>
        <v-content>
            <v-container fluid>
                <router-view></router-view>
            </v-container>
        </v-content>
        <v-footer app></v-footer>
    </v-app>
</template>
<script>
    export default {
        data: () => ({
            open: false,
        }),
        methods: {
            logout() {
                localStorage.clear();
                let props = this.$router.resolve({name: 'signIn'});
                window.location = props.href;
            }
        },
        computed: {
            isAuth() {
                return this.$route.meta.requiresAuth;
            },
            routes() {
                const routes = this.$router.options.routes.filter(e => e.meta.open);
                return routes.map(e => ({
                    title: e.meta.title,
                    to: {name: e.name},
                    icon: e.meta.icon,
                }))
            }
        },
    }
</script>