<template>
    <div>
        <v-card>
            <v-card-title class="title font-weight-regular justify-space-between">
                <span>Kişi Ekleme</span>
            </v-card-title>
            <v-divider/>
            <v-card-text class="layout pb-0 justify-space-between align-center row wrap">

                <v-flex xs12>
                    <v-text-field
                            label="İsim"
                            v-model="form.name"
                    />
                </v-flex>

                <v-flex xs12>

                    <v-date
                            label="Doğum Günü"
                            begin-input
                            v-model="form.birthday"
                    />

                </v-flex>

                <v-flex xs12>
                    <v-select
                            :items="genders"
                            item-value="id"
                            item-text="name"
                            label="Cinsiyet Seçiniz"
                            v-model="form.gender"
                    />
                </v-flex>

            </v-card-text>

        </v-card>

        <v-spacer></v-spacer>
        <v-spacer></v-spacer>


        <v-card>
            <v-card-title class="title font-weight-regular justify-space-between">
                <span>Adresler</span>
            </v-card-title>
            <v-divider/>
            <v-card-text class="layout pb-0 justify-space-between align-center row wrap">

                <v-flex md12 class="layout justify-space-around align-center">
                    <v-btn @click.prevent="addAddress" icon flat >
                        <v-icon>add</v-icon>
                    </v-btn>
                </v-flex>

                <v-layout v-for="(item, i) in form.addresses" :key="i" justify-start class="pa-3" align-center wrap>
                    <v-flex md2 class="layout justify-space-around align-center">
                        <v-btn @click.prevent="addAddress" icon flat >
                            <v-icon>add</v-icon>
                        </v-btn>
                        <v-btn icon flat @click.prevent="removeAddress(i)">
                            <v-icon>remove</v-icon>
                        </v-btn>
                    </v-flex>

                    <v-flex xs10>
                        <v-textarea v-model="item.address" placeholder="Adres giriniz" ></v-textarea>
                    </v-flex>
                    <v-flex xs4 class="pr-3">
                        <v-text-field v-model="item.city_name" placeholder="Şehir giriniz"></v-text-field>
                    </v-flex>
                    <v-flex xs4 class="pr-3">
                        <v-text-field v-model="item.country_name" placeholder="Ülke giriniz"></v-text-field>
                    </v-flex>
                    <v-flex xs4>
                        <v-text-field v-model="item.post_code"  placeholder="Posta kodu giriniz"></v-text-field>
                    </v-flex>
                </v-layout>
            </v-card-text>
        </v-card>

        <v-layout justify-space-between align-center row wrap>
            <v-spacer/>
            <v-btn :loading="loading"
                   color="primary" @click.stop.prevent="save">Ekle
            </v-btn>
        </v-layout>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        name: "Add",
        data: () => ({
            genders: [
                {id: 'F', name: 'Kadın'},
                {id: 'M', name: 'Erkek'},
            ],
            form: {
                name: "",
                birthday: "",
                gender: null,
                addresses: [],
            },
        }),
        watch: {},
        methods: {
            save() {
                this.$store.dispatch('People/POST', this.form);
            },
            addAddress() {
                this.form.addresses.push({
                    address: '',
                    city_name: '',
                    country_name: '',
                    post_code: '',
                });
            },
            removeAddress(index) {
                this.form.addresses.splice(index, 1);
            }
        },
        computed: {
            ...mapGetters({
                loading: "People/LOADING",
                people: "People/ITEM",
                //user: 'Auth/USER',
                errors: "People/ERRORS"
            }),
        }
    }
</script>

<style scoped>

</style>
