<template>
    <div>
        <v-card>
            <v-card-title class="title font-weight-regular justify-space-between">
                <span>Kişi Düzenleme</span>
            </v-card-title>
            <v-divider/>
            <v-card-text class="layout pb-0 justify-space-between align-center row wrap">

                <v-flex xs12>
                    <v-text-field
                            label="İsim"
                            v-model="form.name"
                    />
                </v-flex>

                <v-flex xs12>

                    <v-date
                            label="Doğum Günü"
                            begin-input
                            v-model="form.birthday"
                    />

                </v-flex>

                <v-flex xs12>
                    <v-select
                            :items="genders"
                            item-value="id"
                            item-text="name"
                            label="Cinsiyet Seçiniz"
                            v-model="form.gender"
                    />
                </v-flex>

            </v-card-text>

        </v-card>

        <v-spacer></v-spacer>
        <v-spacer></v-spacer>


        <v-card>
            <v-card-title class="title font-weight-regular justify-space-between">
                <span>Adresler</span>
            </v-card-title>
            <v-divider/>
            <v-card-text class="layout pb-0 justify-space-between align-center row wrap">

                <v-flex md12 class="layout justify-space-around align-center">
                    <v-btn @click.prevent="addAddress" icon flat >
                        <v-icon>add</v-icon>
                    </v-btn>
                </v-flex>

                <v-layout v-for="(item, i) in form.addresses" :key="i" justify-start class="pa-3" align-center wrap>
                    <v-flex md2 class="layout justify-space-around align-center">
                        <v-btn @click.prevent="addAddress" icon flat >
                            <v-icon>add</v-icon>
                        </v-btn>
                        <v-btn icon flat @click.prevent="removeAddress(i)">
                            <v-icon>remove</v-icon>
                        </v-btn>
                    </v-flex>
                    <v-text-field v-show="1 === 0" v-model="item.id"></v-text-field>

                    <v-flex xs10>
                        <v-textarea v-model="item.address" placeholder="Adres giriniz" ></v-textarea>
                    </v-flex>
                    <v-flex xs4 class="pr-3">
                        <v-text-field v-model="item.city_name" placeholder="Şehir giriniz"></v-text-field>
                    </v-flex>
                    <v-flex xs4 class="pr-3">
                        <v-text-field v-model="item.country_name" placeholder="Ülke giriniz"></v-text-field>
                    </v-flex>
                    <v-flex xs4>
                        <v-text-field v-model="item.post_code"  placeholder="Posta kodu giriniz"></v-text-field>
                    </v-flex>
                </v-layout>
            </v-card-text>
        </v-card>

        <v-layout justify-space-between align-center row wrap>
            <v-spacer/>
            <v-btn :loading="loading"
                   color="primary" @click.stop.prevent="save">Düzenle
            </v-btn>
        </v-layout>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'

    export default {
        name: "Edit",
        async beforeRouteEnter(from, to, next) {
            await next(async vm => await vm.initPage())
        },
        beforeRouteLeave(from, to, next) {
            this.$store.commit('People/SET_ITEM', {})
            next()
        },
        created() {
            this.initPage();
        },
        data: () => ({
            genders: [
                {id: 'F', name: 'Kadın'},
                {id: 'M', name: 'Erkek'},
            ],
            form: {
                name: "",
                birthday: "",
                gender: null,
                addresses: [],
            },
        }),
        watch: {
            async '$route'(n, o) {
                if (n.params.id !== o.params.id) {
                    this.$store.commit('People/SET_ITEM', {});
                    await this.initPage();
                }
            },
            people(p) {
                this.form = {
                    ...this.form,
                    name: p.name,
                    birthday: p.birthday,
                    gender: p.gender,
                    addresses: p.addresses,
                }
            },
        },
        methods: {
            ...mapActions({
                find: "People/FIND",
                edit: "People/EDIT"
            }),
            save() {
                this.edit({
                    id: this.people.id,
                    form: this.form
                })
            },
            addAddress() {
                this.form.addresses.push({
                    address: '',
                    city_name: '',
                    country_name: '',
                    post_code: '',
                });
            },
            removeAddress(index) {
                this.form.addresses.splice(index, 1);
            },
            initPage() {
                const {id} = this.$route.params;
                this.find(id)
                    .then(async () => {
                    });
            },
        },
        computed: {
            ...mapGetters({
                loading: "People/LOADING",
                people: "People/ITEM",
                //user: 'Auth/USER',
                errors: "People/ERRORS"
            }),
        }
    }
</script>

<style scoped>

</style>
