<template>
    <v-data-table
            class="elevation-1"
            :items="items"
            :headers="headers"
            :loading="loading"
            :total-items="items.length"
            hide-actions

    >
        <template slot="headers" slot-scope="{headers}">
            <tr>
                <th
                        v-for="header in headers"
                        :key="header.text"
                        :class="[
                            `text-xs-${header.align}`
                        ]"
                >
                    {{ header.text }}
                </th>
            </tr>
        </template>
        <template slot="items" slot-scope="{item}">
            <tr :class="[loading && 'disabled']" style="cursor:default;" @click.stop.prevent="$router.push({name: 'peopleDetail', params: {'id': item.id}})">
                <td>
                </td>
                <td>{{ item.name }}</td>
                <td>{{ item.birthday_view }}</td>
                <td>{{ item.gender_view }}</td>
            </tr>
        </template>
    </v-data-table>
</template>

<script>
    export default {
        props: {
            filter: {
                type: Object,
            },
            items: {
                type: Array,
                required: true,
                default: [],
            },
            loading: {
                type: Boolean,
                required: false,
            },
            total: {
                type: Number,
                default: 50,
            },
        },
        data: () => ({
            headers: [
                {
                    sortable: false
                },
                {
                    text: 'Kişi Adı',
                    align: 'left'
                },
                {
                    text: 'Doğum Tarihi',
                    align: 'left'
                },
                {
                    text: 'Cinsiyet',
                    align: 'left'
                },
            ],
        }),
        methods: {
        }
    }
</script>
