<template>
    <v-layout row justify-center wrap>
        <v-flex sm8>
            <v-add/>
        </v-flex>
    </v-layout>
</template>

<script>
    import AddForm from '../../components/People/Add'

    export default {
        components: {
            'v-add': AddForm
        },
    }
</script>

<style scoped>

</style>
