<template>
    <div>
        <div class="layout justify-center row wrap">
            <v-card class="flex md8" v-if="Object.keys(people).length > 0">

                <v-card-text>

                    <div class="pa-3">
                        <h3 class="headline mb-2"
                            v-text="`${people.name}`"/>
                        <h5 v-text="`Doğum Tarihi: ${people.birthday_view} Cinsiyet: ${people.gender_view}`" class="text--transparent" />
                        <v-btn flat
                               :to="{name: 'peopleEdit', params: {'id': $route.params.id}}">
                            <v-icon>edit</v-icon>
                        </v-btn>
                        <v-btn
                                v-if="Object.keys(people).length !== 0"
                                color="red" flat @click="askDialog">
                            <v-icon>delete</v-icon>
                        </v-btn>
                    </div>
                    <v-divider/>

                </v-card-text>
                <v-layout v-for="(item, i) in people.addresses" :key="i" justify-start class="pa-3" align-center wrap>
                <v-card-title>Adresler</v-card-title>
                    <v-card-text>
                        <v-icon>map</v-icon>
                        {{item.address}}<br>
                        {{item.city_name}} / {{item.country_name}} - {{item.post_code}}
                    </v-card-text>
                </v-layout>
                <v-confirm v-if="Object.keys(people).length !== 0"
                           v-bind.sync="deletePerson"/>
            </v-card>

        </div>
    </div>

</template>


<script>
    import {mapActions, mapGetters, mapMutations} from 'vuex'

    export default {
        components: {
        },
        async beforeRouteEnter(from, to, next) {
            await next(async vm => await vm.initPage())
        },
        beforeRouteLeave(from, to, next) {
            this.$store.commit('People/SET_ITEM', {})
            next()
        },
        watch: {
            async '$route'(n, o) {
                if (n.params.id !== o.params.id) {
                    this.$store.commit('People/SET_ITEM', {});
                    await this.initPage();
                }
                await this.fetchData()
            },
            people(people) {
            },
        },
        data: () => ({
            deletePerson: {
                open: false,
                loading: false,
                title: null,
                message: null,
                onOK: null
            },
        }),
        computed: {
            ...mapGetters({
                people: "People/ITEM",
            }),
        },
        methods: {
            async removePerson() {
                this.deletePerson.loading = true;
                await this.$store.dispatch('People/DELETE', this.people.id);
                this.deletePerson.open = false;
            },
            askDialog() {
                this.deletePerson = {
                    open: true,
                    loading: false,
                    title: 'Kişi silme işlemi',
                    message: "Kişi silinecektir. Emin misiniz?",
                    onOK: () => this.removePerson()
                }
            },
            initPage() {
                const {id} = this.$route.params;
                this.find(id)
                    .then(async () => {
                    });
            },
            ...mapActions({
                find: "People/FIND",
            }),
        }
    }
</script>
