<template>
    <v-layout row justify-center wrap>
        <v-flex sm8>
            <v-edit/>
        </v-flex>
    </v-layout>
</template>

<script>
    import EditForm from '../../components/People/Edit'

    export default {
        components: {
            'v-edit': EditForm
        },
    }
</script>

<style scoped>

</style>
