<template>
    <v-layout>
        <v-flex>
            <div class="text-xs-right pb-2" v-if="total > 1 && $vuetify.breakpoint.mdAndDown">
                <v-pagination
                        v-model="page"
                        :length="total"
                        :total-visible="5"
                        :disabled="loading"
                />
            </div>
            <v-toolbar dense class="elevation-1">
                <b v-text=""/>
                <v-spacer/>
                <v-toolbar-items>
                    <div class="text-xs-right pb-2" v-if="total > 1 && $vuetify.breakpoint.mdAndUp">
                        <v-pagination
                                v-model="page"
                                :length="total"
                                :total-visible="5"
                                :disabled="loading"
                        />
                    </div>

                    <v-tooltip bottom>
                        <v-btn
                               :to="{name: 'peopleAdd'}"
                               flat icon slot="activator">
                            <v-icon>add</v-icon>
                        </v-btn>
                        <span>Yeni Ekle</span>
                    </v-tooltip>
                </v-toolbar-items>
            </v-toolbar>
            <v-list
                :loading="loading"
                :items.sync="items"
                :total="total"
                @page="e => page = e"
            />
            <div class="text-xs-right pt-2" v-if="total > 1 && items.length > 0">
                <v-pagination
                        v-model="page"
                        :length="total"
                        :total-visible="5"
                        :disabled="loading"
                />
            </div>
        </v-flex>
    </v-layout>
</template>
<script>
    import {mapGetters, mapActions, mapMutations} from 'vuex';
    import PeopleList from '@/js/components/People/List'

    export default {
        components: {
            'v-list': PeopleList,
        },
        created() {
            this.fetch({page: this.page});
        },
        methods: {
            ...mapActions({
                fetch: "People/FETCH_PEOPLE",
            }),
            ...mapMutations({
                clearLibrary: 'People/CLEAR_ITEMS'
            }),
        },
        computed: {
            ...mapGetters({
                loading: "People/LOADING",
                items: "People/ITEMS",
                total: 'People/TOTAL',
                rows: 'People/ROWS',
            }),
            page() {
                const {page} = this.$route.params;
                return page ? parseInt(page) : 1;
            },
        }
    }


</script>