<template>
    <v-dialog persistent max-width="400" :value="open" @input="e=> $emit('update:open', e)">
        <v-card>
            <v-card-title v-if="title !== ''">
                <h3>{{ title }}</h3>
            </v-card-title>
            <v-divider />
            <v-card-text>
                {{ message }}
            </v-card-text>
            <v-divider />
            <v-card-actions>
                <v-spacer/>
                <v-btn :disabled="loading" @click.prevent="$emit('update:open', false)" flat color="red lighten-2">İptal</v-btn>
                <v-btn :loading="loading" @click.prevent="onOK" color="primary">Tamam</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: "Alert",
        props: {
            open: Boolean,
            loading: Boolean,
            title: String,
            message: String,
            onOK: Function,
        }
    }
</script>

<style scoped>

</style>
