<template>
    <v-menu
            ref="menu1"
            :close-on-content-click="false"
            v-model="menu"
            lazy
            transition="slide-y-transition"
            offset-y
            full-width
            class="elevation-0 datePicker"
            max-width="290px"
            min-width="290px"
            :disabled="disabled"
    >
        <v-text-field
                slot="activator"
                :label="label"
                :prepend-inner-icon-cb:prepend-inner="setNow"
                :readonly="!disabled"
                hide-details
                class="pa-0 ma-0"
                v-model.trim="formatedDate"
                :hint="hint"
                :hide-details="hideDetails"
                dont-fill-mask-blanks
                :value="value"
                :disabled="disabled"
        />
        <v-date-picker
                no-title
                v-if="!disabled"
                :disabled="disabled"
                v-model.trim="date"
                :value="date"
                :first-day-of-week="1"
                :type="type"
                @input="menu = false"
        />
    </v-menu>
</template>
<script>
    export default {
        props: {
            label: {
                type: String,
                default: "Date"
            },
            name: {
                type: String,
                default: "name"
            },
            hint: {
                type: String,
                default: ""
            },
            type: {
                type: String,
                default: 'date',
                validator: function validator(type) {
                    return ['date', 'month'].includes(type);
                }
            },
            value: String,
            disabled: Boolean,
            hideDetails: Boolean,
        },
        computed: {
            formatedDate() {
                return this.formatDate(this.date)
            }
        },
        watch: {
            value(e) {
                this.date = e;
            },
            date(v) {
                this.$emit("input", v);
            },
        },
        data: () => ({
            menu: false,
            date: null
        }),
        created() {
            this.date = this.value;
        },
        methods: {
            formatDate(date) {
                if (!date) return null
                const [year, month, day] = date.split('-')
                if (this.type === 'month') {
                    return `${year}-${month}`
                }
                return `${day}.${month}.${year}`
            },
            setNow() {
                const n = new Date();
                this.date = `${n.getFullYear()}-${this.setZero(n.getMonth() + 1)}-${this.setZero(n.getDate())}`
            },
            setZero(value) {
                value = parseInt(value);
                if (value < 10) {
                    return `0${value}`;
                }
                return value;
            },
        }
    }
</script>
