<template>
    <v-layout id="loginForm" column row wrap>
        <v-flex>
            <h2>Kişi Uygulamasına Hoş geldiniz</h2>
        </v-flex>
        <v-flex class="mb-2">
            <v-text-field
                    solo-inverted
                    dont-fill-mask-blanks
                    ref="email"
                    placeholder="E-posta Adresi"
                    hide-details
                    v-model.trim="form.email"
                    clearable
                    flat
                    dark
            />
        </v-flex>
        <v-flex>
            <v-text-field
                    solo-inverted
                    ref="password"
                    dont-fill-mask-blanks
                    type="password"
                    placeholder="Şifre"
                    hide-details
                    v-on:keyup.enter="submit"
                    v-model.trim="form.password"
                    clearable
                    flat
                    dark
            />
        </v-flex>
        <v-flex>
            <v-btn
                    :loading="loading"
                    :disabled="loading || !form.email || !form.password"
                    class="mx-0"
                    @click.prevent.stop="submit"
                    color="green"
                    dark>Sign in
            </v-btn>
        </v-flex>
        <v-snackbar
                v-model="fail"
                color="warning"
                text-color="white"
                top
                right
                :timeout="2500"
        >
            E-mail or password is wrong!
        </v-snackbar>
    </v-layout>
</template>

<script>
    import {mapGetters, mapMutations} from 'vuex';

    export default {
        name    : 'login',
        data    : () => ({
            form: {
                email   : null,
                password: null,
            },
            fail: false,
        }),
        watch   : {
            isFail(e) {
                if (!!e) {
                    this.form.password = null;
                    this.fail          = e;
                    this.$nextTick(() => this.$refs.password.focus());
                }
            },
            fail(e) {
                if (!e) this.hideFail(false);
            },
        },
        computed: {
            ...mapGetters({
                'loading': 'Auth/LOADING',
                'isFail' : 'Auth/FAIL',
            }),
        },
        methods : {
            ...mapMutations({
                hideFail: 'Auth/SET_FAIL',
            }),
            async submit() {
                await this.$store.dispatch('Auth/LOGIN', this.form);
            },
        },
    };
</script>
